<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNBnQaHukUdPfaF2HEnwi6B9-cN4aDiRc</string>
	<key>GCM_SENDER_ID</key>
	<string>67679896425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aisportsedge.app</string>
	<key>PROJECT_ID</key>
	<string>ai-sports-edge-final</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-sports-edge-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67679896425:ios:82641620e8b8bedd6dd218</string>
</dict>
</plist>